* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}



nav {
    top: 0;
    position: absolute;
    height: 80px;
    width: 100%;
    z-index: 1;
}

label.logo {
    color: #359381;
    font-size: 30px;
    line-height: 80px;
    padding: 0 80px;
    letter-spacing: -1px;
    font-weight: 800;
    font-style: italic;
    transition: .2s ease;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li a {
    color: #000000;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 13px;
    text-transform: lowercase;
    text-decoration: none;
    margin-left: 10px;
}

a.active,
a:hover {
    background: #359381;
    transition: .5s;
}

.checkbtn {
    line-height: 80px;
    font-size: 30px;
    float: left;
    margin-left: 20%;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

.checkbtn i {
    color: #000000;
    padding: 5px;
    border-radius: 8px;
    transition: .5s ease;
}

.checkbtn i:hover {
    background: #359381;
}

#check {
    display: none;
}

form{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 16%;
    margin-left: 25%;
    border: 2px solid #ffffff;
    padding: 4px;
    background: #04201b6c;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 8px rgba(255, 255, 255, 0.4);
    z-index: 1;
}

input,textarea{
    font-size: 20px;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    background: #e9f7ed;
    
}
label{
    color: #fff;
    font-weight: 600;
    font-size: 22px;
}
button{
    background: #e9f7ed;
    height: 30px;
    border-radius: 8px;
    font-size: 20px;
}







@media (max-width: 858px) {
    /* mobile mode */
    header {
        background: none;
    }
    
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 40px;
        left: -100%;
        padding-top: 80px;
        text-align: center;
        transition: .5s ease;
    }

    nav ul li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }

    nav ul li a {
        color: #fff;
        font-size: 20px;
    }

    a.active,
    a:hover {
        background: #003329;
        color: #ffffff;
    }

    #check:checked~ul {
        left: 0;
        display: block;
        background: rgba(0, 0, 0, 0.9);
        position: fixed;
        height: 100vh;
        margin: 0;
        padding: 0;
        top: 0;
        z-index: -1;
    }

    #check:checked~ul li {
        padding: 0;
        margin: 0;
    }

    #check:checked~ul li.primer {
        margin-top: 80px;
        color: #fff;
    }

    .navigation {
        width: 100%;
        padding: 0;
        margin: 0;
        top: 0;
    }

    .parallax {
        margin: 0;
        padding: 0;
    }
    .checkbtn{
        margin-right: 0;
    }
    form{
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 25%;
        margin-left: 5%;
        padding: 4px;
    }
  }