* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}



nav{
    position: absolute;
    background: #0033294a;
    height: 80px;
    width: 100%;
    top: 0;
}

label.logo{
    color: #fff;
    font-size: 30px;
    line-height: 80px;
    padding: 0 80px;
    letter-spacing: -1px;
    font-weight: 800;
    font-style: italic;
    transition: .2s ease;
}

nav ul {
    float: right;
    margin-right: 80px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
}

nav ul li a{
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 13px;
    text-transform: lowercase;
    text-decoration: none;
}

a.active, a:hover{
    background: #359381;
    transition: .5s;
}

.checkbtn{
    line-height: 80px;
    font-size: 30px;
    float: right;
    cursor: pointer;
    margin-right: 40px;
    display: none;
}

.checkbtn i{
    color: #fff;
    padding: 5px;
    border-radius: 8px;
    transition: .5s ease;
}

.checkbtn i:hover{
    background: #359381;
}

#check{
    display: none;
}


form{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 16%;
    margin-left: 25%;
    border: 2px solid #ffffff;
    padding: 4px;
    background: #04201b6c;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 8px rgba(255, 255, 255, 0.4);
    z-index: 1;
}

input,textarea{
    font-size: 20px;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    background: #e9f7ed;
    
}
label{
    color: #fff;
    font-weight: 600;
    font-size: 22px;
}
button{
    background: #e9f7ed;
    height: 30px;
    border-radius: 8px;
    font-size: 20px;
}







@media (max-width: 858px) {
    /* mobile mode */
    .checkbtn {
      display: block;
    }
     ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 80px;
      left: -100%;
      padding-top: 80px;
      text-align: center;
      transition: .5s ease;
    }
    nav ul li {
      display: block;
      margin: 30px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 20px;
    }
    a.active, a:hover {
      background: none;
      color: #003329
    }
    #check:checked ~ ul {
      left: 0;
    }
    form{
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 25%;
        margin-left: 5%;
        border: 2px solid #000000;
        padding: 4px;
    }
  }