*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #ffff;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 16%;
}

.navigation a{
    text-decoration: none;
    color: #359381;
    padding: 6px 16px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active{
    background: #359381;
    color: #ffff;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112vh;
}

#text{
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec{
    position: relative;
    background: #003329;
    padding: 100px;
}

.sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

@media (max-width: 480px){
    header{
        width: 100%;
        padding: 0;
        margin: 0;
        height: 40px;
        background: #003329;
    }
    h2.logo{
        font-size: 14px;
        margin-right: 0;
        width: 18%;
    }
    .navigation{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigation a{
        font-size: 12px;
        padding: 8px;
        margin: 0;
        width: 30%;
        text-align: center;
    }
    #text{
        top: 46%;
        font-size: 40px;
    }
    .parallax{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 220px;
    }
    .sec{
        padding: 16px;
    }
}